body {
  background-image: url("/assets/images/homerrun.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Gloria Hallelujah', cursive;
} 

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: rgba(32, 32, 27, 0.637);
  border: 10px solid black;
  border-radius: 15px;
  padding: 40px 60px;
}

h1 {
  font-size: 40px;
  color: rgb(255, 218, 34);
  text-transform: uppercase;
  text-shadow: 2px 2px 0px black;
  letter-spacing: 3px;
}

h2{
  color: rgb(255, 218, 34);
  text-shadow: 2px 2px 0px black;
  letter-spacing: 3px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 75px;
  color: rgb(255, 218, 34);
  text-shadow: 1px 1px 1px black;
}

.board {
  display: grid;
  grid-template-rows: repeat(4, 12vmin);
  grid-template-columns: repeat(4, 12vmin);
  grid-gap: 5px;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
  font-size: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

#reset-button {
  margin-top: 25px;
  border-radius: 5px; 
  border: 3px solid black;
  font-size: 15px;
  background-color: white;
  padding: 10px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

#reset-button:hover {
  color: white;
  background-color: rgb(207, 23, 23);
}

#music-button {
  margin-top: 25px;
  border-radius: 5px; 
  border: 3px solid black;
  font-size: 15px;
  background-color: white;
  padding: 6px 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
}

#music-button:hover {
  color: white;
  background-color: rgb(207, 23, 23);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
  gap: 30px;
}